# Copyright (c) 2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
#     * Redistributions of source code must retain the above copyright
# 	notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#	copyright notice, this list of conditions and the following
#	disclaimer in the documentation and/or other materials provided
#	with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#	from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

# USB compositions for OEM defined

# FIH, for FAC mode
on property:sys.usb.config=mtp,mass_storage && property:sys.usb.configfs=1 && property:ro.boot.fac=1
    setprop sys.usb.config.fac mtp,mass_storage,${ro.boot.fac}

# FIH, PID = 0xC030
on property:sys.usb.config.fac=mtp,mass_storage,1 && property:sys.usb.configfs=1
    setprop sys.usb.secure.disable 1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config.fac=mtp,mass_storage,1 && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp_adb with fih id"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/idVendor 0x2E04
    write /config/usb_gadget/g1/idProduct 0xC030
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC030
on property:sys.usb.config.fac=mass_storage,1 && property:sys.usb.configfs=1
    setprop sys.usb.secure.disable 1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config.fac=mass_storage,1 && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp_adb with fih id"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/idVendor 0x2E04
    write /config/usb_gadget/g1/idProduct 0xC030
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

# For FIH scsi root command
on property:service.adb.root=1
    restart adbd


# All port
on property:sys.usb.pid=c021
    setprop sys.usb.config diag,serial_cdev,mass_storage

on property:sys.usb.pid=c000
    setprop sys.usb.config mass_storage,diag,adb,serial_cdev

# mass storage
on property:sys.usb.pid=c004
    setprop sys.usb.config mass_storage

on property:sys.usb.pid=c001
    setprop sys.usb.config mass_storage,adb

# mtp
on property:sys.usb.pid=c025
    setprop sys.usb.config mtp,mass_storage

on property:sys.usb.pid=c026
    setprop sys.usb.config mtp,mass_storage,adb

# ptp
on property:sys.usb.pid=c029
    setprop sys.usb.config ptp,mass_storage

on property:sys.usb.pid=c02a
    setprop sys.usb.config ptp,mass_storage,adb

# debug_port
on property:sys.usb.pid=c00e
    setprop sys.usb.config mtp,mass_storage,adb,serial_cdev,diag

on property:sys.usb.pid=c00f
    setprop sys.usb.config ptp,mass_storage,adb,serial_cdev,diag