service bbslauncher /system/bin/bbslauncher
    class bbsys
    oneshot

service bbsys /system/bin/pandoraservice
    class bbsys
    user system
    oneshot
    group system media_rw sdcard_rw
    socket bbsys stream 666 system system

on fs
    mkdir /vendor/BBSYS 0770 system system
#    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/box /BBSYS nosuid nodev barrier=1
    chown system system /vendor/BBSYS
    chmod 0770 /vendor/BBSYS
    chmod 0660 /dev/fih
    chown root system /dev/fih
    restorecon_recursive /vendor/BBSYS

    
on post-fs-data
    mkdir /data/misc/hcs 0770 system system
    chown system system /data/misc/hcs
    chmod 0770 /data/misc/hcs
 

on property:persist.sys.bbsys=on
    start bbslauncher

on property:persist.sys.bbsys=off
    stop bbsys

on property:persist.sys.bbsys=restart
    stop bbsys
    setprop persist.sys.bbsys on

